/* @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */

.rotate-wrapper {
/*   transform: rotate(45deg); */
/*   animation:spin 1m linear infinite; */
}

.wrapper {
  animation:spin 4s linear infinite;
  margin:100px 200px;
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  transform: rotate(45deg);
/*   flex-wrap: wrap; */
/*   restart */
 }

break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

.square {
  width: 24px;
  height: 24px;
  margin: 24px;
}

/* Keyfram Animations*/


@keyframes square-fade-in {
  0% {
   opacity: 1;
  }
  
 
  40% {
    transform: translateX(0px);
  }
  
   40% {
    opacity: 0.2;
  }
  
  80% {
  opacity: 0.1;  
  }
  
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}


@keyframes square-mover {
  0% {
    transform: translate(-144px, -72px);
    
  }
  12.5% {
    transform: translate(-72px, -72px);
    
  }
  25% {
    transform: translate(-72px, -72px);
    
  }
  37.5% {
    transform: translate(-72px, -0px);
  }
  50% {
    transform: translate(-72px, 0px);
    
  }
  62.5% {
    transform: translate(-144px, 0px);
  }
  75% {
    transform: translate(-144px, 0px);
  }
  87.5% {
    transform: translate(-144px, -72px);
  }
  100% {
    transform: translate(-144px, -72px);
  }
}



.square0 {
  background: red;
  animation: square-fade-in 2s infinite 0.75s;
  transform: translateX(-48px);
}

.square1 {
  background: green;
  animation: square-fade-in 2s infinite 1.25s; 
  transform: translateY(-48px);
}

.square4 {
  background: cyan;
  animation: square-fade-in 2s infinite 1.75s;
  transform: translate(48px, 0px);
}

.square3 {
  background: blue;
  animation: square-fade-in 2s infinite 2.25s;
  transform: translate(0px, 48px);
}

.square5 {
  background: orange;
  animation: square-mover 2s infinite 1s;
  animation-timing-function: ease-in-out;
  
}